body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image:  url("https://media.istockphoto.com/id/481013807/photo/planet-earth-explode-in-space.jpg?s=612x612&w=0&k=20&c=uSv6dadY7T33-O4VrhmJ1bFZkMzHreUADuWrcxqOPJg="); ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    color: antiquewhite;
    font-size: 75px;
    padding-top: 50px;
    font-weight: bold;
}

.input {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: azure;
    margin-bottom: 10px;
    margin-top: -35px;
    padding: 10px;
    color: #ccc;
    font-size: 15px;
}

.button {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: azure;
    color: #ccc;
    font-size: 15px;
    font-weight: bold;
}

.infocontainer div {
    color: antiquewhite;
    font-size: 25px;
    padding-top: 10px;
}

#temperature {
    font-size: 45px;
}